@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #000000;
    color: #fff;
}

#main{
    display: flex;
    width: 100%;
}


#form_box{
    margin: auto;
    width: max-content;
    padding: 15px;
    background-color: #0084ff;
    border-radius: 10px;
}

#form_box h2{
    padding: 10px;
    text-align: center;
    color: #fff;
}

#form_box img{
    display: flex;
    margin: auto;
}

#f_alert{
    display: none;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.f_line{
    display: flex;
}

.f_line span{
    padding: 10px;
}

.f_line label{
    display: block;
    padding-bottom: 2px;
    text-align: center;
}

.f_line input[type=text], input[type=date], input[type=password]{
    width: 250px;
    height: 30px;
    border: 1px solid #808080;
    border-radius: 5px;
}

.f_line input[type=radio]{
    border: 2px solid #808080;
}

#email{
    margin-left: 15px;
}

#acesso{
    margin: auto;
}

select{
    width: 258px;
    height: 32px;
    border: 1px solid #808080;
    border-radius: 5px;
}

#btt_form{
    cursor: pointer;
    width: 532px;
    height: 35px;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 19px;
    transition: 0.5s;
}

#btt_form:hover{
    transition: 0.5s;
    background-color: #e34747;
}